* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aside-color: linear-gradient(
    225deg,
    hsla(208, 41%, 31%, 1) 27%,
    hsla(208, 41%, 31%, 0.9) 42%
  );
  --border-color: #001514;
}

.App {
  font-family: "Noto Sans JP", sans-serif;
  background: hsla(209, 70%, 13%, 1);
  color: #f1f2eb;
  letter-spacing: 1px;
  overflow: hidden;
}
